.container {
  text-align: center;
}

img {
  height: 300px;
  padding: 50px;
}

.row {
  margin: 50px;
}

.bg_grey {
  background-color: lightgrey;
}

.why img {
  background-color: lightblue;
  border-radius: 150px;
}
